body {
    background-color:rgb(73, 88, 82);
    margin: 0; 
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: rgb(73, 88, 83);
    height: 100px;
    border-style: solid;
    border-width: medium; 
}
h1{
    float:none;
    margin-left: 20px;
    margin-right: 50px;
    color: rgb(218, 154, 70);
    border-style: solid;
    border-width: medium;
    border-color: black;
}

h3 {
    /* border: 2 rgb(34, 32, 32);
    border-radius: 5px; */
    margin-left: 20px;
    float: left;
    color: rgb(218, 154, 70);
}
p { 
    border: 2px solid rgb(34, 32, 32);
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
    overflow: break-word;
    color: antiquewhite;
}

section {
    border-style: solid;
    border-width: medium;
    border: 2px solid rgb(22, 21, 21);
    border-radius: 5px;
    /* padding: 5px; */
    display: flex;
    flex-wrap: wrap;
}

img {
    border: 2px solid rgb(34, 32, 32);
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    }
.grocery-store {
    width : 100px
}
footer {
    color: rgb(218, 154, 70);
    text-shadow: 02cm;
}

